.App {
  margin: 10px auto 0 auto;
  padding: 30px;
  border-radius: 10px;
  align-items: center;
  max-width: 500px;
  background-image: linear-gradient(to top, #edd7d8 0%, #c1caf1 90%);
  overflow: hidden;
}
