.weather_card{
    margin-top: 20px;


.forecast_hours{
    font-weight: bold;
    font-size: 0.9rem;
    margin: 10px;
    color:rgb(74, 71, 71)
    
}

.forecast_description{
    line-height: 2px;
    font-size: 14px;
     p{
        color:rgb(160, 128, 128);
        margin-top: 20px;
        font-weight: bold;
    }
    span{
        color:rgb(161, 161, 209);
    }
   
}

.forecast_icon{
    width:100%;
    margin-top:10px;
  
}}